.module {
  height: 150px;
  align-items: center;
  justify-content: center;
  border: 1px solid darken($light-grey, 7%);
  color: $dark-grey;
  display: flex;
  flex-direction: column;
  padding: $s-size;
  margin-bottom: $s-size;
  text-decoration: none;
  transition: background .3s ease;
  &:hover {
    background: lighten($light-blue, 30%);
  }
  @media (min-width: $desktop-breakpoint) {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: $m-size;
  }
}

.module--inactive {
  height: 150px;
  color: $grey;
  &:hover {
    background: lighten($red, 40%);
  }
  h1 {
    margin: 0;
  }
  p {
    margin: 0;
  }
}

.module__title {
  margin: 0;
  word-break: break-all;
}

.module__sub-title {
  color: $grey;
  font-size: $font-size-small;
}

.module__timer {
}

.module-list {
  padding-top: $l-size;
}